@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);

html, body{
    height: 100%;
    font-family: "rubik";
    background-color: #ededed;
}

.okpu{
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 15vw;
}

h1:hover{
    text-shadow: 5px 10px #888888;
}

footer{
    text-align: center;
}
